<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_logga"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/slothful_logga_new_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nightshade"
        tools:targetApi="31">
        <activity
            android:name=".Instructions_Stretch"
            android:exported="false" />
        <activity
            android:name=".InstructionActivity1"
            android:exported="false" />
        <activity
            android:name=".InstructionActivity"
            android:exported="false" />
        <activity
            android:name=".Balance"
            android:exported="false" />
        <activity
            android:name=".Information"
            android:exported="false" />
        <activity
            android:name=".Stretch"
            android:exported="false" />
        <activity
            android:name=".StepCounter"
            android:exported="false" />
        <activity
            android:name=".Microphone"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".FreeTime"
            android:exported="false" />
        <activity
            android:name=".Movement"
            android:exported="false" />
        <activity
            android:name=".Timer"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>